.map-content {
    width: 100%;
    height: 88vh;
}

#cont-2 {
    position: relative;
    padding-top: 43%;
    overflow: hidden;
}

#cont-2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media (max-width:768px) {
    .map-content {
        width: 100%;
        height: 87vh;
    }

    #cont-2 {
        position: relative;
        padding-top: 85vh;
        overflow: hidden;
    }
}