.shadow{
	background-image: url(images/shadow.png);
	background-repeat: repeat-y;
	height: 100%;
	width: 12px;
	position: fixed;
	z-index: 1000;
	left: 0px;
	top: 0px;
}
.TopBoxL{
	display: inline-block;
	padding: 8px;
}
.TopBoxR{
	padding: 8px;
	display: inline-block;
	text-align: right;
	float: right;
}
.LegendTxt{
	font-family: "微軟正黑體";
	font-size: 14px;
	float: left;
	height: 20px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 6px;
}
.LegendTxt a:link ,.LegendTxt a:visited{
	text-decoration: none;
	font-family: "微軟正黑體";
	color: #000;
}
.LegendTxt a:hover{
	text-decoration: none;
	font-family: "微軟正黑體";
	color: #F60;
}
/*列表樣式*/
.ListTableTurb{}
.ListTableTurb td{
	font-family: "微軟正黑體";
	background-color: #f1f1f1;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.ListTableTurb td img{
	float: left;
}
.ListTableTurb td.major{
	font-family: "微軟正黑體";
	background-color: #e6ffbb;
	padding: 4px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
.ListTableTurb td.major:nth-child(1){
	border-left-width: 12px;
	border-left-style: solid;
	border-left-color: #398dff;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
.TxtGrey{
	font-size: 12px;
	color: #333333;
	display: inline-block;
	text-align: left;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	float: left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #999;
}
.TxtOrange{
	font-size: 12px;
	color: #ff6c00;
	display: inline-block;
	text-align: left;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	float: left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #999;
}
.TxtBlack{
	font-size: 14px;
	color: #000;
	display: block;
	text-align: left;
	width: 88px;
	line-height: 19px;
	font-weight: bold;
	margin-top: 6px;
	float: left;
}
/*1000以下*/
.TxtNumG{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #00b8a9;
	text-align: right;
	display: block;
}
/*1001-2000*/
.TxtNumY{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #ffd800;
	text-align: right;
	display: block;
}
/*2001-3000*/
.TxtNumO{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #ff7b38;
	text-align: right;
    display: block;
}
/*3000以上*/
.TxtNumR{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #e90f30;
	text-align: right;
	display: block;
}
/* Dark Red */
.TxtNumDR{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #e90f30;
	text-align: right;
	display: block;
}
/*單位*/
.TxtUnit{
	font-family: "微軟正黑體";
	text-align: right;
	font-size: 12px;
	color: #000;
	display: block;
	margin-top: -4px;
}
/*時間*/
.TxtTime{
	font-family: Verdana, Geneva, sans-serif;
	text-align: right;
	font-size: 11px;
	color: #666;
	display: block;
}
/*列表樣式結尾*/

/*定位按鈕*/
.BtnPin{
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0px;
	padding: 0px;
	text-decoration: none;
	color: #777777;
	display: inline-block;
	background-image: url(images/icon_pin.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 80px;
	text-indent: -99999;
	float: right;
	background-color: #cbe2ff;
	background-position: center center;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 18px;
}
.BtnPin:hover {
    height: 20px;
	background-color: #FFF;
}
.BtnPin:active {
    height: 20px;
	background-color: #FFF;
}

/*定位按鈕結尾*/


/*開關*/
.button-switch {
	font-family: "微軟正黑體";
	font-size: 16px;
	height: 1.875em;
	position: relative;
	width: 6em;
	float: left;
	margin-bottom: 0.4em;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  z-index: 2;
  top: 0.3em;
  -webkit-transition: opacity 0.25s ease-out 0.1s;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fefefe;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  left: 0;
  line-height: 0;
  outline: none;
  position: absolute;
  z-index:1;
  top: 0;
  width: 0;
}
.button-switch .switch ~ .switch:before,
.button-switch .switch ~ .switch:after {
  content: '';
  font-size: 1em;
  position: absolute;
}
.button-switch .switch ~ .switch:before {
  border-radius: 1.25em;
  background: #bdc3c7;
  height: 1.875em;
  left: -0.25em;
  top: -0.1875em;
  -webkit-transition: background-color 0.25s ease-out 0.1s;
  transition: background-color 0.25s ease-out 0.1s;
  width: 6.2em;
}
.button-switch .switch ~ .switch:after {
  box-shadow: 0 .0625em .375em 0 #666;
  border-radius: 50%;
  background-color: #fefefe;
  height: 1.5em;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-out 0.1s;
  transition: -webkit-transform 0.25s ease-out 0.1s;
  transition: transform 0.25s ease-out 0.1s;
  transition: transform 0.25s ease-out 0.1s, -webkit-transform 0.25s ease-out 0.1s;
  width: 1.5em;
}
.button-switch .switch:checked ~ .switch:after {
  -webkit-transform: translate(4em, 0);
          transform: translate(4em, 0);
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch:checked ~ .switch:before {
  background-color: #b3e55e;
}
.button-switch .switch:checked ~ .switch:before {
  background-color: #3498db;
}
/*開關結尾*/

/*開關歷線*/
.toggleSwitch span span {
  display: none;
}

@media only screen {
  .toggleSwitch {
	display: inline-block;
	height: 20px;
	position: relative;
	overflow: visible;
	padding: 0;
	cursor: pointer;
	width: 80px;
	margin-right: 12px;
  }
  .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggleSwitch label,
  .toggleSwitch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
    outline: none;
  }
  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }
  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  .toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }
  .toggleSwitch > span span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: block;
	width: 50%;
	margin-left: 50px;
	text-align: left;
	font-size: 0.9em;
	width: 100%;
	left: 15%;
	top: -1px;
	opacity: 0;
	margin-right: 5px;
  }
  .toggleSwitch a {
	position: absolute;
	right: 40%;
	z-index: 4;
	display: block;
	height: 100%;
	padding: 0;
	left: 4px;
	width: 18px;
	background-color: #fff;
	border: 1px solid #CCC;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
    color: #ccc;
    opacity: 1;
    left: 45%;
	padding-left:0px;
	padding-right:4px;
  }
  .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 60px;
    top: 0px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -8px;
  }
  .toggleSwitch input:checked ~ span:before {
    border-color: #0097D1;
    box-shadow: inset 0 0 0 30px #0097D1;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  	padding-left:4px;
  	padding-right:0px;
}
 /*開關歷線結尾*/
 
/*關閉+放大縮小按鈕*/
.BtnFunT{
	padding-top: 5px;
}
.BtnFunT ul{
	display: block;
	width: 100%;
	height: 14px;
}
.BtnFunT li{
	float: right;
	margin-right: 5px;
}
.BtnFunT li a{
	display: block;
	width: 14px;
	height: 14px;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
.BtnFunT li a:hover{
	background-position: 0 -14px;
}
.BtnFunT li a:active, #BtnFunc li.active a{background-position:left bottom;}
.BtnFunT li.close a{
	background-image: url(images/Map_icon_close.png);
}
.BtnFunT li.min a{
	background-image: url(images/Map_icon_max.png);
}
.BtnFunT li.max a{
	background-image: url(images/Map_icon_min.png);
}

/*關閉+放大縮小按鈕結尾*/

/*詳細頁測站頁籤*/
.BtnTab_Turb{
	font-size: 15px;
	font-family: "微軟正黑體";
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #000000;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #51af5b;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.BtnTab_Turb:hover {
	background-color: #FFFFFF;
	color: #000;
}
.BtnTab_Turb:active {
	position:relative;
	top:1px;
}
/*詳細頁測站頁籤結尾*/

/*詳細頁篩選條件*/
.TurbSearch{
	background-color: #d5d5d5;
	display: block;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	padding-left: 6px;
}
.datebox{
	float: left;
	display: inline-block;
	width: 180px;
	padding-right: 15px;
}
.T-TxtGreen{
	font-family: "微軟正黑體";
	font-size: 14px;
	color: #390;
}
.T-TxtRed{
	font-family: "微軟正黑體";
	font-size: 14px;
	color: #F30;
}
.T-chartbox{
	padding: 10px;
	width: 100%;
}
.T-chartbtnbox{
	text-align: center;
	display: block;
}
.QueryTitleS{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	display: block;
	float: left;
	padding-left: 2px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #51af5b;
	margin-top: 6px;
}
.TurbSearchBtn{
	background-color: #bdbdbd;
	width: 100%;
	display: block;
	height: 38px;
}
.TurbSearchBtn ul{
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
}
.TurbSearchBtn ul li{
	font-family: "微軟正黑體";
	font-size: 14px;
	color: #FFF;
	background-color: #939393;
	float: right;
}
.TurbSearchBtn ul li a:link, .TurbSearchBtn ul li a:visited{
	color: #FFF;
	text-decoration: none;
}
.TurbSearchBtn ul li a:hover{
	color: #c12c20;
}
.TurbSearchBtn ul li.btnhidden{
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 10px;
	background-image: url(images/icon_hidden.png);
	background-repeat: no-repeat;
	background-position: 2px 8px;
}
.TurbSearchBtn ul li.btnshow{
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 10px;
	background-image: url(images/icon_show.png);
	background-repeat: no-repeat;
	background-position: 2px 8px;
}
/*詳細頁篩選條件結尾*/

.UnitBox{
	border: 1px solid #51af5b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 4px;
	padding: 8px;
	overflow: hidden;
}
.UnitBox h1{
	font-family: "微軟正黑體";
	font-size: 20px;
	color: #23712c;
	margin-top: 0px;
}